:root {
    scroll-behavior: smooth;
}

.background-image {
  background-image: url(img/pngnaturecut.png);
  background-size: 100%; 
  font-size: 18px;
  font-family:'Syne Mono', monospace;
  text-align: center;
}

.bg-light {
    background-color: #765bc045!important;
}

.bg-dark {
    background-color: rgba(35, 7, 158, 0.432)!important;
}

h1 {
    text-align: center;
    font-size: 85px;
    color: rgb(30, 150, 6);
}

h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(230, 82, 210);
  margin: 30px 0 30px 0;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(38, 146, 11);
  margin: 30px 0 30px 0;
}

.aboutUs {
  display: flex;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px 5px 25px; 
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(110, 55, 238);
    background-clip: border-box;
    border: 1px solid #0a0335;
    padding: 10px 10px 10px 10px;
}

.card-title {
color: #033b1a;
}

.card-text {
    text-align: center;
    font-size: 25px;
    margin: 30px 0 30px 0;
    color: rgb(8, 73, 68);
  }

.btn-primary {
    background-color: rgb(119, 118, 204);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: hsl(221, 70%, 56%);
}

.navbar-dark .navbar-nav .nav-link {
    color: hsl(182, 84%, 64%);
}



form {
	margin: 0 auto;
	width: 350px;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
	}
		
	input,textarea {
		font: 1em sans-serif;
		width: 300px;
		box-sizing: border-box; 
		border: 1px solid rgb(91, 207, 223);
        border-radius: 6px;
        vertical-align: top;
	    height: 3em;
	}

button {
  color: rgb(44, 8, 129);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;      	
	}
